@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

body {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  color: #fff;
  text-align: center;
  font-family: Nunito, sans-serif, arial, helvetica;
  margin: 0;
  padding: 0;
}

/*? Estilos del titulo  */
.title {
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 2em;
}

.body {
  display: none;
}

.positions {
  flex: 1 1 auto;
}

/*? Styles of the box containing the canvas */
.right {
  text-align: right;
  margin-right: 50px;
}

/*? Canvas styles */
.tetris {
  border: solid 3px rgb(161, 228, 255);
  border-radius: 5px;
  height: 90vh;
}

/*? Styles of the point, level and line boxes  */
.caja-lateral {
  border: solid 3px rgb(161, 228, 255);
  margin-bottom: 20px;
  border-radius: 5px;
  max-width: 200px;
  background-color: #000;
}

/*? Styles for the canvas that shows the next tab */
canvas#nextPiece {
  width: 100%;
}

.btn_group {
  width: 100%;
  max-width: 200px;
}

.btn {
  width: 100%;
  font-size: 1em;
  background-color: #2f64f3;
  border-radius: 5px;
}

.background_tetris {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000ad;
}

.UI-Pause {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-top: -50px;
  margin-left: -100px;
  display: none;
}

.btn_left {
  float: left;
  width: 90px;
  padding-right: 5px;
}

.btn_right {
  float: right;
  width: 90px;
  padding-left: 5px;
}

.UI-MainMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-top: -50px;
  margin-left: -100px;
}

.controles {
  width: 200px;
  position: absolute;
  text-align: center;
  left: 991px;
  top: 30px
}

.controles p {
  text-align: left;
  
}