
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
    background-color: gray;
    color: #fff;
    text-align: center;
    font-family: Nunito, sans-serif, arial, helvetica;
}

/*? Estilos del titulo  */
.title {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 2em;
}

.body {
    display: flex;
    
}

.positions {
    flex: 1 1 auto;
}

/*? Styles of the box containing the canvas */
.right {
    text-align: right;
    margin-right: 50px;
}

/*? Canvas styles */
canvas#tetris {
    border: solid 3px #fff;
    border-radius: 5px;
    height: 90vh;
}

/*? Styles of the point, level and line boxes  */
.caja-lateral {
    border: solid 3px #fff;
    margin-bottom: 20px;
    max-width: 200px;
    background-color: #000;
}

/*? Styles for the canvas that shows the next tab */
canvas#nextPiece {
    width: 100%;
}

